:host {
  ion-content {
    --background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }
}

ion-virtual-scroll {
  width: 100%;
  margin-top: 8px;
  .card {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    height: 100px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
    .avatar {
      padding: 5px;
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      ion-img {
        width: auto;
        height: 100%;
        mix-blend-mode: multiply;
        filter: contrast(1);
      }
    }

    .drug-details {
      padding: 5px;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .tradename {
        font-size: 22px;
        font-weight: bold;
        margin: 0;
        //trim text
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .activeingredient {
        font-size: 15px;
        color: #777;
        margin: 0;
        //trim text
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
